<div class="container">
  <div class="new">
    <div class="new__date new__date-margin">
      <%= @search.date %>
    </div>
    <div class="center-align new__title title">
      <%= @search.title %>
    </div>
    <p class="new__img center-align">
      <%#= image_tag(@search.imgsrc) %>
    </p>
    <div class="new__textContainer">
      <p class="new__text"><%= @search.text %></p>
    </div>
  </div>
</div>
