/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

body{
  background-color: #edeef0;
}

.no-results{
  height: 100vh;
}

.pagination{
  margin: 2em 0;

  em,span,a{
    padding: 10px;
    border: 1px solid #1E88E5;
    color: #1E88E5;
    background-color: #fff;
  }

  em.current{
    color: #fff;
    background-color: #1E88E5;
  }

}

.mt-3{
  margin-top: 3rem;
}

.d-flex{
  display: flex;
}

.align-items-center{
  align-items: center;
}

.model-content{
  &__btn{
    margin-top: 30px;
  }
}

select{
  display: block;
}

.text{
  font-size: 16px;
  line-height: 26px;
}

.title{
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  font-family: Roboto;
}

