.nav-wrapper{
  &-margin{
    margin: 0 1em;
  }
}

.navSearchContainer{
  background-color: #fff;
  width: 250px;
  padding: 0 10px;

  input{
    border: 0px solid #000000 !important;
  }
}


.navTitle{
  font-family: 'Cookie';
  font-size: 3.1rem !important;
}